.game-america .block {
  float: left;
  height: 20px;
  width: 20px;
}

.game-america .game-field {
  background: white;
  position: relative;
  overflow: visible;
}

.game-america .game-field > div {
  position: relative;
  background: white;
}

.game-america .game-field:before {
  content: '';
  position: absolute;
  background: black;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: 0px;
  z-index: 0;
}

.game-america .block {
  z-index: 20;
}

.game-america .wall {
  background-color: #000;
}

.game-america .me {
  position: relative;
}

.game-america .me:after {
  background-color: #23afee;
  border-radius: 100%;
  content: '';
  height: 20px;
  position: absolute;
  top: 0;
  width: 20px;
}

.game-america .finish {
  background-color: #f31d1d;
}