.line {
  position: absolute;
  left: 0; right: 0;
  height: 90px;
  background: #c5ba9f;
}
.line[data-index="1"] { z-index: 3; }
.line[data-index="2"] { z-index: 2; }
.line[data-index="3"] { z-index: 1; }
.spot {
  position: absolute;
  width: 100px;
  height: 90px;
  background-image: url(img/ground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.spot:hover {
  opacity: 0.6;
}
