
.game-asia .car {
  width: 30px;
  height: 50px;

  position: absolute;
}

.game-asia .car:before {
  content: '';
  background-image: url('img/green-car.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  left: -5px; 
  top: -6px;

  width: 40px;
  height: 72px;
}

.game-asia .car-1:before {
  background-image: url('img/red-car.png');
}

.game-asia .car-2:before {
  background-image: url('img/blue-car.png');
}

.game-asia .car-3:before {
  background-image: url('img/yellow-car.png');
}

.game-asia #hero {
  background-image: url('img/player.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  width: 64px;
  height: 64px;

  position: absolute;
  z-index: 2;
}

.game-asia #track {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  height: 2500px;

  background-color: #aaa;
}

.game-asia #track:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  top: 0;
  width: 33%;
  border-width: 6px;
  border-style: none dashed;
  border-color: white;
}

.game-asia #track .sign {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 5px;
  align-items: center;
  color: white;
  font-size: 12px;
  text-align: right;
  padding-right: 25px;
}

.game-asia #track .sign:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  right: 0;
  top: 3px;
  background: white;
  margin-left: 5px;
}

.game-asia #track .finish {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}

.game-asia #track .finish:after {
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  background: white;
  margin-top: 4px;
}





.r-table {
  width: var(--field-height);
}

.game-asia .r-table__points {
  font-size: 0;
}

.game-asia .r-table__points:before, .game-asia .r-table__points .r-table__value {
  font-size: 20px;
}

.game-asia .r-table__points:before {
  content: 'Target: ';
}

.game-asia .r-table__points .r-table__value:after {
  content: 'm';
}

#start, #win, #replay, #lose {
  color: white;
}

#lose {
  font-size: 1.5em;
}

.game-asia .game-field {
  width: 400px;
  height: 500px;
  position: relative;
  overflow: hidden;
}